/* Estilo general en modo oscuro */
body {
    background-color: #1a1a1a;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.card {
    background-color: #333;
    border: 1px solid #444;
    border-radius: 8px;
    padding: 20px;
    margin: 20px;
    color: #f7f6f4;
}

.book-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.book-container > * {
    flex: 1 1 40%; /* Esto hará que los elementos ocupen aproximadamente el 40% del ancho del contenedor, pero se ajustarán para evitar el desbordamiento */
    max-width: 40%; /* Esto limitará el ancho de los elementos al 40% del contenedor */
    margin: 10px; /* Esto agregará un poco de espacio alrededor de los elementos */
}

p {
    text-align: justify; /* Justifica el texto de los párrafos */
}

.header-footer {
    background-color: #222;
    padding: 10px;
    text-align: center;
}

.header-footer__text {
    color: #fafaf9;
    text-align: center;
}

.center-text {
    text-align: center;
}

/* Estilos existentes... */

/* Estilo para la página de inicio (Landing) */
.landing {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.landing h1 {
    position: relative;
    text-align: center;
    color: #fff;
}

/* Estilo para el puntero láser */
.laser-pointer, .laser-pointer-reverse {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: rgb(0, 255, 34);
    border-radius: 50%;
    top: 50%;
    left: 50%;
    animation: rotateAround 2s linear infinite;
}

.laser-pointer-reverse {
    animation: rotateAroundReverse 2s linear infinite;
}

/* Animación para girar alrededor del título */
@keyframes rotateAround {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(300px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(300px);
    }
}

@keyframes rotateAroundReverse {
    0% {
        transform: translate(-50%, -50%) rotate(360deg) translateX(300px);
    }
    100% {
        transform: translate(-50%, -50%) rotate(0deg) translateX(300px);
    }
}

/* BookDetails.css */
.book-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #f8f9fa;
    color: #343a40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.book-name {
    font-size: 2em;
    font-weight: bold;
    color: #007bff;
    margin-bottom: 10px;
}

.book-author {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.book-description {
    font-size: 1.2em;
    margin-bottom: 10px;
}
img {
    display: block; /* Hace que la imagen se comporte como un bloque */
    margin: auto; /* Centra la imagen horizontalmente */
    max-width: 100%;  /*La imagen no será más ancha que su contenedor */
    max-height: 300px;  /*Ajusta este valor según tus necesidades */
    height: auto; /* Mantiene la proporción de la imagen */
    
    
}
.header__nav {
    display: flex;
}

.header__nav-list {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    margin-left: 20px;
}

.header__nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    display: flex;
    align-items: center;
}

.header__nav-link i {
    margin-right: 8px;
}

.header__nav-link:hover {
    text-decoration: underline;
}

.header__search-form {
    display: flex;
    align-items: center;
}

.header__search-input {
    padding: 5px;
    font-size: 1em;
    border: none;
    border-radius: 4px 0 0 4px;
}

.header__search-button {
    padding: 5px 10px;
    font-size: 1em;
    border: none;
    background-color: #555;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.header__search-button i {
    font-size: 1.2em;
}

.header__search-button:hover {
    background-color: #777;
}